body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(223, 19%, 93%);
}

.container {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gridcontainer {
  padding: 20px;
  display: flex;
  background-color: white;
  border-radius: 10px;
  width: 600px;
  height: 110px;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    '. avatar name name posttime posttime . editdelete reply'
    'plus textarea textarea textarea textarea textarea textarea textarea textarea'
    'num textarea textarea textarea textarea textarea textarea textarea textarea'
    'subtract textarea textarea textarea textarea textarea textarea textarea textarea'
    'subtract . . . . . . . .';
}
.votebox {
  grid-area: plus;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: hsl(223, 19%, 93%);
  border-radius: 5px;
  width: 30px;
  padding: 3px;
  position: relative;
  bottom: 1em;
}
.num {
  grid-area: num;
  cursor: pointer;
}

.plus {
  grid-area: plus;
  cursor: pointer;
}

.subtract {
  cursor: pointer;
  grid-area: subtract;
}

.avatar {
  grid-area: avatar;
}

.name {
  grid-area: name;
}

.posttime {
  grid-area: posttime;
}

.reply {
  grid-area: reply;
}

.textarea {
  grid-area: textarea;
  overflow: hidden;
}

.editdelete {
  grid-area: editdelete;
}
textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 1px;
  margin-left: 1px;
  border: none;
  overflow: hidden;
  /* outline: lightgray solid 1px; */
  /* outline: none; */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none; /*remove the resize handle on the bottom right*/
  padding: 5px 0px;
  resize: none;
  font-family: 'Rubik', sans-serif;
  height: 60px;
  width: 520px;
  line-height: 20px;
}
textarea:focus,
input:focus {
  outline: lightgray solid 1px;
}
